/* Rounded sliders */
/*-------------------------------------------------------------------*/
/* === Email === */


/* Mail List Container */
.mail-list-container {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  overflow-y: hidden;
}

.mail-list {
  overflow-y: scroll;
  height: calc(100dvh - 64px);
}

.search-bar {
  background-color: white;
  max-height: 20vh;
}

.sidenav-container {
  height: 100%;
}

/* Modifica il background del sidenav per un tema chiaro */
mat-sidenav {
  background-color: #fff;
  color: #333;
  /* Colore scuro per il testo */
}

/* Cambia il colore al passaggio del mouse */
mat-list-item:hover {
  background-color: #f4f4f4;
  /* Colore chiaro di evidenziazione */
}


/* Rendi il contenuto del menu laterale più gradevole */
mat-list-item {
  margin-left: 10px;
  padding: 20px;
  display: inline-flex;
}

a[mat-list-item].active-list-item {
  background-color: rgb(255, 109, 109);

  & mat-icon {
    color: whitesmoke;
  }

  & span {
    color: whitesmoke;
  }
}

.username {
    margin-left: 10px;
    display: inline-block;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
