<mat-toolbar color="primary">
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span
    ><span style="font-size: 1.5rem">P</span
    ><small style="color: rgb(218, 218, 218)">mail</small></span
  >
</mat-toolbar>

<div class="mail-content">
  <p class="email-subject">{{ email.subject }}</p>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="d-flex w-100">
            <span class="fw-bold flex-grow-1" style="font-size: medium">
              {{ email.sender }}
            </span>
            <span class="ms-auto text-end" style="font-size: small">{{
              email.date | date : "dd/MM/yyyy hh:mm"
            }}</span>
          </div>
          <span>a {{ email.to ?? "me" }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mail-view">
        <div class="message-body">
          <div class="sender-details">
            <img
              class="img-sm rounded-circle mr-3"
              src="http://www.urbanui.com/dashflat/template/images/faces/face11.jpg"
              alt=""
            />
            <!-- <div class="details d-md-flex w-100">
              <div class="ms-auto">
                <div class="date text-secondary font-weight-bold text-md-end">
                  {{ email.date | date : "dd/MM/yyyy" }}
                  <br />
                  <small>
                    {{ email.date | date : "hh:mm a" }}
                  </small>
                </div>
              </div>
            </div> -->
          </div>
          <div class="message-content">
            <p [innerHTML]="email.body" style="font-size: medium"></p>
            @for(img of email.images; track img) {
            <img
              [src]="img"
              alt="Pmail "
              style="max-width: 500px; width: 100%"
            />
            }
          </div>

          <div class="btn-toolbar mt-2">
            <button
              mat-stroked-button
              class="me-2"
              (click)="funzioneNonDisponibile()"
            >
              <mat-icon>reply</mat-icon> Reply
            </button>
            <button
              mat-stroked-button
              class="me-2"
              (click)="funzioneNonDisponibile()"
            >
              <mat-icon>reply_all</mat-icon> Reply All
            </button>
            <button mat-stroked-button (click)="funzioneNonDisponibile()">
              <mat-icon>forward</mat-icon> Forward
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
