mat-expansion-panel {
  box-shadow: none !important;
}

mat-panel-title {
  flex-direction: column;
  align-items: flex-start;
}

.mail-content {
  height: calc(100dvh - 64px);

  padding: 20px 15px 0;
  overflow-y: scroll;
}

::ng-deep mat-expansion-panel-header.mat-expansion-panel-header {
  margin: 10px !important;
}

.email-subject {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Message Content */
.message-body .sender-details {
  padding: 10px 15px 0;
  border-bottom: 1px solid #e9e9e9;
  display: -webkit-flex;
  display: flex;
}

.message-body .sender-details .details {
  padding-bottom: 0;
}

.message-body .sender-details .details .msg-subject {
  font-weight: 600;
}

.message-body .sender-details .details .sender-email {
  margin-bottom: 20px;
  font-weight: 400;
}

.message-body .sender-details .details .sender-email i {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1px 0 7px;
}

.message-body .message-content p {
  padding: 10px 15px;
  white-space: pre-wrap;
}

.message-body .attachments-sections ul {
  list-style: none;
  border-top: 1px solid #e9e9e9;
  padding: 30px 15px 20px;
}

.message-body .attachments-sections ul li {
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.message-body .attachments-sections ul li .thumb {
  display: inline-block;
  margin-right: 10px;
}

.message-body .attachments-sections ul li .thumb i {
  font-size: 30px;
  margin: 0;
  color: #2e383e;
}

.message-body .attachments-sections ul li .details p.file-name {
  display: block;
  margin-bottom: 0;
  color: #2e383e;
}

.message-body .attachments-sections ul li .details .buttons .file-size {
  margin-right: 10px;
  margin-bottom: 0;
  font-size: 13px;
}

.message-body .attachments-sections ul li .details .buttons a {
  font-size: 13px;
  margin-right: 10px;
}

.message-body .attachments-sections ul li .details .buttons a:last-child {
  margin-right: 0;
}

i {
  margin: auto 0;
  color: #ddd;
}

i.favorite {
  color: #fcd539;
}

::ng-deep div[matsnackbarlabel] {
  white-space: pre-wrap;
}
